<!DOCTYPE html>
<html>
<head>
    <title>home</title>
</head>
<body>
    <h1>public conferences managing page</h1>
    <ul>
        <li><a href="{% url 'all_authors' %}">all authors</a></li>
        <li><a href="{% url 'add_author' %}">add new author</a></li>
        <li><a href="{% url 'all_registrations' %}">all registrations</a></li>
        <li><a href="{% url 'add_registration' %}">add new registration</a></li>
        <li><a href="{% url 'all_reviews' %}">all reviews</a></li>
        <li><a href="{% url 'add_review' %}">add new review</a></li>
        <li><a href="{% url 'all_presentations' %}">all presentations</a></li>
        <li><a href="{% url 'add_presentation' %}">add new presentation</a></li>
        <li><a href="{% url 'all_conferences' %}">all conferences</a></li>
    </ul>
</body>
</html>
